.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid $--twitter-bg;
  padding-bottom: 0.6rem;
  transition: all 0.3s linear;

  &:hover {
    background-color: rgb(245, 245, 245);
  }

  &__avatar {
    padding: 20px;
  }

  &__body {
    flex: 1;
    padding: 1.2rem 2rem 0 0;

    .post__header__text {
      display: flex;
      align-items: center;
      gap: 0.3rem;

      .post__badge {
        color: $--twitter-color;
        font-size: 18px;
      }
    }

    h3 {
      font-size: 0.9rem;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .post__header__special {
      color: gray;
      font-size: 0.9rem;
    }

    .post__header__description {
      margin-bottom: 0.6rem;
      font-size: 15px;
    }

    img {
      border-radius: 1rem;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    svg {
      color: rgb(161, 161, 161);
      font-size: 32px;
      padding: 0.3rem;
      margin: 0 0.1rem;
      transition: all 0.3s linear;
      border-radius: 50%;

      &:hover {
        background-color: #ceeaff;
      }
    }
  }

  &__close {
    margin-right: 1rem;
    margin-top: 1.2rem;
  }
}
